:root {
    box-sizing: border-box;
    color: white;
} 
*, ::before, ::after {
    box-sizing: inherit;
}
body {
    background: url("/img/background.jpg");
}
#problemCarDescription::before
{
    content: "none";
}
 #header {
    background:black;
     padding: 5px;
     font-family: 'Cookie', cursive;
 }

 #logo {
     float: left;
     width: 20%;
 }

 #logo img {
     width: 20rem;
     height: 10rem;
     margin-left: 0.5rem;
 }

#problemCarDescription
{
    resize: none;
    text-align: left;
    content: "kod";
}


 .menu {
     float: right;
     width: 70%;
     text-align: justify;
     margin: 3rem;
 }

 .menu ul li {
     display: inline-block;
     padding-right: 20px;
 }

 .menu ul li a {
     color: white;
     font-size: 1.4rem;
 }

 .menu ul li a:hover {
     color: #FFD77F;
 }


 .clearfix::after {
     content: "";
     display: block;
     clear: both;
 }

 .slider-box{
     width: 100%;
     height: 200px;
     background-color: black;
 }

 .slider-half-item {
     width: 50%;
     float: left;
     height: 100%;
     font-family: cursive, Geneva;
     padding: 10px;

 }

 .slider-half-item article {
     margin: 2rem;
 }

 .slider-half-item article .button-section {
     margin-top: 1rem;
 }

 .slider-half-item .button  {
     text-transform: uppercase;
     padding: 10px;
     text-decoration: none;
     margin: 2px;
     font-size: 0.8rem;
 }

 #callInformationPart1
 {
    margin-left: 1rem;
 }

 #callInformationPart2
 {
     margin-left: 1.5rem;
 }

 .call-button
 {
        color:black;
        border: 2px solid indianred;
        background-color:dodgerblue;
 }

 .order-button {
     color: #7FD7FF;
     border: 2px solid #7FD7FF;
     background-color:fuchsia;
 }
 .book-button {
     color: #FFD77F;
     border: 2px solid #FFD77F;
     background-color: #936c02;
 }

 .order-button:hover, .book-button:hover, .call-button:hover {
    background-color: #333333; 
 }

 .pizza-img {
    background-image: url("/img/engine.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
} 

.advantages-box {
    background-color: transparent;
}

.advantages-one-third {
    width: 33.3%;
    float: left;
    padding: 20px;
    margin: 30px 0px 30px;
}

.column-advantage {
    position: relative;
    height: 160px;
    border: 5px solid black;
    text-align: center;
    color: white;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: cursive, Verdana, Geneva, Tahoma, sans-serif;
}

.best-ingredients {
    background-image: url("https://cdn.pixabay.com/photo/2016/05/24/13/29/olive-oil-1412361__340.jpg");
}

.original-recipe {
    background-image: url("https://cdn.pixabay.com/photo/2016/05/06/12/15/cook-1375788_960_720.jpg");
}

.fast-delivery {
    background-image: url("https://cdn.pixabay.com/photo/2020/02/10/18/31/motor-scooter-4837310_960_720.jpg");
}

.bottom-right {
    position: absolute;
    right: 10px;
    bottom: 10px;
}


 .kitchen-menu {
     background-color: black;
 }

 .menu-one-forth {
     width: 25%;
     float: left;
     font-family: cursive, Verdana, Geneva, Tahoma, sans-serif;
     padding: 20px;
     text-align: center;
     font-size: 0.9rem;
 }

 .menu-one-forth img {
     width: 100%;
 }

 .page-footer {
     width: 100%;
     background-color: black;
     font-family: Cookie, cursive;
     text-align: center;
     font-size: 2rem;
     clear: both;
     margin-top: 0.7rem;
     margin-left: auto;
     margin-right: auto;

 }

