:root {
    box-sizing: border-box;
    color: white;
} 
*, ::before, ::after {
    box-sizing: inherit;
}
body {
    background-image: url(/img/background.jpg);    
}
 #header {
    background:black;
     padding: 5px;
     font-family: 'Cookie', cursive;
 }

 #logo {
     float: left;
     width: 20%;
 }

 #logo img {
     width: 20rem;
     height: 10rem;
     margin-left: 0.1rem;
 }

#problemCarDescription {
    resize: none;
    text-align: left;
}

 .menu {
     float: left;
     margin-left: 1rem;
     width: 60%;
     text-align: justify;
     margin-top: 3rem;
 }

 .menu ul li {
     display: inline-block;
     padding-right: 20px;
 }

 .menu ul li a {
     color: white;
     font-size: 1.4rem;
 }

 .menu ul li a:hover {
     color: #FFD77F;
 }

 #contact
 {
     width: 18%;
     margin-top: 1rem;
     text-align: center;
     float: left;
 }

 #tel
 {      
    font-weight: bold;
    font-size: 1.5rem;
 }

 .clearfix::after {
     content: "";
     display: block;
     clear: both;
 }

 .contact-box {
     width: 100%;
     height: 200px;
     background-color: black;
 }

 .contact-half-item {
     width: 50%;
     float: left;
     height: 100%;
     font-family: cursive, Geneva;
     padding: 10px;
 }

 .contact-half-item article {
     margin: 2rem;
 }

 .contact-half-item article .button-section {
     margin-top: 1rem;
 }

 .contact-half-item .button {
     text-transform: uppercase;
     padding: 10px;
     text-decoration: none;
     margin: 2px;
     font-size: 0.8rem;
 }

 
 #callInformationPart1 {
    margin-left: 1rem;
 }

 #callInformationPart2 {
     margin-left: 1.5rem;
 }

 .call-button {
        color:black;
        border: 2px solid indianred;
        background-color:dodgerblue;
        font-weight: bold;
 }

 .ask-button {
     color: black;
     font-weight: bold;
     border: 2px solid #7FD7FF;
     background-color:fuchsia;
 }
 .reset-button {
     color: black;
     font-weight: bold;
     border: 2px solid #FFD77F;
     background-color: #936c02;
 }

 .ask-button:hover, .reset-button:hover, .call-button:hover {
    background-color: #333333; 
    color: whitesmoke;
 }

 .car-img {
    background-image: url("/img/engine.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
} 

.promotion-box {
    background-color: transparent;
}

.promotion-one-third {
    width: 33.3%;
    float: left;
    padding: 20px;
    margin: 30px 0px 30px;
}

.column-promotion {
    position: relative;
    height: 160px;
    border: 5px solid black;
    text-align: center;
    color: white;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: cursive, Verdana, Geneva, Tahoma, sans-serif;
}

.tires {
    background-image: url("/img/tires.jpg");
    font-size: 1.4rem;
    color: aqua;
}

.filtersOil {
    color:chartreuse;
    font-size: 1.4rem;
    background-image: url("/img/filtersOil.jpg");
}

.timingGear {
    color:yellow;
    font-size: 1.4rem;
    background-image: url("/img/timingGear.jpg");
}

.bottom-right {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

 .saleInformation {
     width: 40%;
     float: left;
     font-family: cursive, Verdana, Geneva, Tahoma, sans-serif;
     padding: 20px;
     text-align: center;
     font-size: 3rem;
     text-align: center;
    vertical-align: middle;
    line-height: 150px;
    color:orangered;  
 }
 
 .sliderPane {
    background-color: black;
}


.slider {
    max-width: 100%;
    position: relative;
    height: 300px;
    
}

.slider .cars img {
    object-fit: cover;
    width: 60%;
    height: 300px;
    border: 2px solid sandybrown
}

.slider .nextSlide {
    cursor: pointer;
    position: absolute;
    top: 45%;
    margin-top: auto;
    color: white;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.slider .previousSlide {
    cursor: pointer;
    text-align: right;
    position:absolute;
    top: 45%;
    left: 40%;
    margin-top: auto;
    color: white;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
        
}
.slider .nextSlide {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.slider .previousSlide:hover, .slider .nextSlide:hover {
    color:lime;
}
.slider .cars {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {
        opacity: 0.4
    }
    to {
        opacity: 1
    }
}

.page-footer {
    width: 100%;
    background-color: black;
    font-family: Cookie, cursive;
    text-align: center;
    font-size: 2rem;
    clear: both;
    margin-top: 2.2rem;
    margin-left: auto;
    margin-right: auto;
}