:root {
    box-sizing: border-box;
    color: white;
} 
*, ::before, ::after {
    box-sizing: inherit;
}
body {
    background-image: url("https://cdn.pixabay.com/photo/2015/09/05/23/36/jumper-cables-926308_960_720.jpg");    
}
 header {
    background-color:black;
     padding: 5px;
     font-family: 'Cookie', cursive;
     clear: both;
     width: 100%;
 }

 #logo {
     float: left;
     width: 20%;
 }

 #logo img {
     width: 20rem;
     height: 10rem;
     margin-left: 0.1rem;
 }

#problemCarDescription {
    resize: none;
    text-align: left;
}

 .menu {
     float: left;
     width: 65%;
     text-align: center;
     margin-top: 3rem;
 }

 .menu ul li {
     display: inline-block;
     padding-right: 20px;
 }

 .menu ul li a {
     color: white;
     font-size: 1.4rem;
 }

 .menu ul li a:hover {
     color: #FFD77F;
 }

 #contact {
     margin-top: 1rem;
     text-align: center;
     float: right;
     margin-right: 2rem;
     font-weight: bold;
    font-size: 1.5rem;
 }

 .clearfix::after {
     content: "";
     display: block;
     clear: both;
 }

 .contact-box {
     width: 100%;
     height: 200px;
     background-color: black;
 }

 .contact-half-item {
     width: 50%;
     float: left;
     height: 100%;
     font-family: cursive, Geneva;
     padding: 10px;
 }

 .contact-half-item article {
     margin: 2rem;
 }

 .contact-half-item article .button-section {
     margin-top: 1rem;
 }

 .contact-half-item .button {
     text-transform: uppercase;
     padding: 10px;
     text-decoration: none;
     margin: 2px;
     font-size: 0.8rem;
 }

 #callInformationPart1 {
    margin-left: 1rem;
 }

 #callInformationPart2 {
     margin-left: 1.5rem;
 }

 .call-button {
        color:black;
        border: 2px solid indianred;
        background-color:dodgerblue;
        font-weight: bold;
 }

 .ask-button {
     color: black;
     font-weight: bold;
     border: 2px solid #7FD7FF;
     background-color:fuchsia;
 }

 .reset-button {
     color: black;
     font-weight: bold;
     border: 2px solid #FFD77F;
     background-color: #936c02;
 }


 .ask-button:hover, .reset-button:hover, .call-button:hover {
    background-color: #333333; 
    color: whitesmoke;
 }

 .car-img {
    background-image: url("https://cdn.pixabay.com/photo/2017/03/19/18/51/tuning-2157354_960_720.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
} 

.promotion-box {
    background-color: transparent;
}

.promotion-one-third {
    width: 33.3%;
    float: left;
    padding: 20px;
    margin: 30px 0px 30px;
}


.column-promotion {
    position: relative;
    height: 160px;
    border: 5px solid black;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: cursive, Verdana, Geneva, Tahoma, sans-serif;
}

.tires {
    background-image: url("https://cdn.pixabay.com/photo/2013/05/28/18/11/tire-114259_960_720.jpg");
    font-size: 1.4rem;
    color: aqua;
    
}

.filtersOil {
    color:chartreuse;
    font-size: 1.4rem;
    background-image: url("https://cdn.pixabay.com/photo/2018/08/03/08/29/mechanic-3581324_960_720.jpg");
}

.timingGear {
    color:yellow;
    font-size: 1.4rem;
    background-image: url("https://images.unsplash.com/photo-1486262715619-67b85e0b08d3?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1189&q=80");
}

.bottom-right {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

 #saleDiv {
    width: 40%;
    float: left;
    font-family: cursive, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
    color:orangered;
    text-align: center;
 }

 
 .sliderPane {
    background-color: black;
    display: block;    
}

.slider {
    position: relative;
}

.slider .cars img {
    object-fit: cover;
    width: 60%;
    border: 2px solid sandybrown;
}

.slider .nextSlide {
    cursor: pointer;
    margin: 0;
    position: absolute;               
    top: 51%;                         
    transform: translate(0, -50%);
    color: white;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.slider .previousSlide {
    cursor: pointer;
    text-align: right;
    margin: 0;
    position: absolute;               
    top: 50%;                         
    transform: translate(0, -50%);
    left: 40%;
    color: white;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
        
}
.slider .nextSlide {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.slider .previousSlide:hover, .slider .nextSlide:hover {
    color:lime;
}
.slider .cars {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {
        opacity: 0.4
    }
    to {
        opacity: 1
    }
}

.page-footer {
    width: 100%;
    background-color: black;
    font-family: Cookie, cursive;
    text-align: center;
    font-size: 2rem;
    clear: both;
    margin-top: 2.2rem;
    margin-left: auto;
    margin-right: auto;
}

#whatRepairing {
    background-color: black;
    position: relative;
}

#electronics {
    background-color: black;
    position: relative;
}

#airConditioning {
    background-color: black;
}

#airConditioningInfo {
    background-color: black;
    position: relative;
    font-size: 1.5rem;
}

#vulcanization {
    background-color: black;
}

#vulcanizationInfo {
    background-color: black;
    position: relative;
    font-size: 1.5rem;
}

#aboutUs {
    box-sizing: border-box;
    position: relative;
    background-color: black;
    position: relative;
    font-size: 1.5rem;
    background-size: contain;
    display: block;
    width: 100%;
}

#address {
    background-color: black;
    width: 50%;
    float: left;
    display: block;
    text-align: center;
}

#map {
    background-color: black;
    width: 50%;
    float: left;  
    display: block;
    text-align: center;
}

#googleMap {
    text-align: center;
}

h1 {
    color:lime;
    text-align: center;
    font-size: 2.5rem;
}

#carEngine {
    float: left;
    width: 33.3%;
    background-color: black;
}
#carSuspension {
    float: left;
    width: 33.3%;
    background-color: black;
}

#carBody {
    float: left;
    width: 33.3%;
    background-color: black;
}

#introduction {
    font-weight: bold;
    font-size: 2rem;
}

#carDiagnostic {
    float: left;
    width: 33.3%;
    background-color: black;

}

#carChiptuning {
    float: left;
    width: 33.3%;
    background-color: black;
    
}

#functionElectronics {
    float: left;
    width: 33.3%;
    height: 100%;
    background-color: black;
}